<div xmlns="http://www.w3.org/1999/html">
  <mat-card class="KeksZaehlerBox">
    <mat-card-title class="zaehler">{{ zaehler }}</mat-card-title>
    <mat-card-content class="ClickerBox">
      <button (click)="keksPress()" class="Clicker" mat-icon-button>
        <img src="Keks.png" alt="Keks" class="KeksBild" />
      </button>
    </mat-card-content>
  </mat-card>
</div>
<div>
  <button mat-raised-button color="accent" routerLink="/settings">
    <mat-icon>settings</mat-icon>
  </button>
</div>
