<mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile colspan="4" class="header">
      <button mat-raised-button color="accent" routerLink="/settings" [class]="setSettingButtonMode()">
        <mat-icon>settings</mat-icon>
      </button>
      <h1 class="title" [class]="setTitleTheme()">
        KEKSDRUCKSIMULATOR
      </h1>
    </mat-grid-tile>
  <mat-grid-tile colspan="3" class="content" rowspan="6">
    <mat-card class="KeksZaehlerBox">
    <mat-card-title class="zaehler">{{ cookies }}</mat-card-title>
    <mat-card-content class="ClickerBox">
      <button (click)="keksPress()" class="Clicker" mat-icon-button>
        <img src="Keks.png" alt="Keks" class="KeksBild" />
      </button>
    </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" class="upgrades" rowspan="6">
    <app-upgrades></app-upgrades>
  </mat-grid-tile>
</mat-grid-list>

