.settingsBoxLightMode{
  background-color: darkslategrey;
  color: beige;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  max-width: 140px;
  text-align: center;
}

.settingsBoxDarkMode{
  text-align: center;
  background-color: bisque;
  color: #1e1e1e;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  max-width: 140px;
  max-height: 100px;
}

.SliderPosition{
  margin-left: 5px;
}

.Slider{
  margin-top: 10px;
}



