.backToGameButtonDarkMode{
  background-color: bisque !important;
  color: #1e1e1e !important;
  padding: 8px;
  margin-left: 8px;
}

.backToGameButtonLightMode{
  background-color: darkslategray !important;
  color: beige !important;
  padding: 8px;
  margin-left: 8px;
}

.titleLightMode{
  color: darkslategray !important;
  text-align: center;
  text-decoration: underline;
}

.titleDarkMode{
  color: beige !important;
  text-align: center;
  text-decoration: underline;
}
.cardLightMode * {
  background-color: darkslategray !important;
  color: bisque;
  align-self: center;
  border-radius: 12px !important;
  overflow: hidden;
}

.cardDarkMode * {
  background-color:bisque ;
  color: #333 !important;
  text-decoration: none !important;
  border-radius: 12px !important;
  overflow: hidden;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title{
  flex-grow: 1;
  text-align: center;
  margin: 0;
}

.darkMode{
}

.resetButton{
}
.cardVisibility{
  background-color: transparent;
  box-shadow: none;
}
